.container {
  display: flex;
  color: var(--color-white);
  background-color: var(--color-black);
  outline: none;
  border-bottom: 1px solid var(--color-gray);
  font-size: 30px;
  margin-top: 32px;
  margin-right: 24px;
}

.flagButton {
  color: var(--color-white);
  background-color: var(--color-black);
  outline: none;
  display: flex;
  align-items: center;
  padding-bottom: 12px;
}

.flagButton img {
  margin-right: 12px;
}

.flagButton:hover {
  background-color: transparent;
}

.modalContainer {
  border-radius: 10px;
  position: absolute;
  border: 1px solid gray;
  z-index: 200;
  background-color: var(--color-black);

  height: 40%;
  width: 30%;
  min-width: 150px;

  display: flex;
  flex-direction: column;

  border: 1px solid var(--color-white);
}

.optionsContainer {
  overflow-y: scroll;
  overflow-x: hidden;
}

.option {
  font-size: 20px;
  margin: 4px 10px;
  border: 1px solid var(--color-gray);
  border-radius: 4px;
  color: var(--color-white);
  background-color: rgb(26, 26, 26);
  box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 0px 1px inset;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  cursor: pointer;
  max-width: 100%;
  min-width: 150px;
  min-height: 40px;
}

.option:hover {
  cursor: pointer;
  background-color: rgb(77, 77, 77);
}

.option img {
  margin-right: 12px;
}

.secondOpt {
  float: right;
  padding-right: 12px;
  padding-top: 5px;
}

.searchInput {
  margin: 5px;
  padding: 10px 5px;
  width: 93%;
  position: sticky;
  top: 0;
  padding-bottom: 15px;
  border: 0;
}

.searchInput:hover,
.searchInput:focus {
  outline: none;
  box-shadow: none;
}

.errorMessage {
  margin-left: 16px;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .modalContainer {
    width: 65%;
  }
}

@media screen and (max-width: 600px) {
  .modalContainer {
    width: 85%;
  }

  .option {
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  .modalContainer {
    width: 80%;
  }
}
