button {
  all: unset;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 700;

  padding: 6px 14px;
  min-height: 28px;
  font-size: 20px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 1px solid transparent;

  text-align: center;
  line-height: 22px;
}

button:hover {
  background-color: var(--color-primary-hover);
}

.checkMark {
  margin-left: 8px;
}

@media screen and (max-width: 600px) {
  button {
    font-size: 16px;
    min-height: 24px;
  }
}
