.container {
  margin-top: -76px;
  display: flex;
  flex-direction: row;
  width: 744px;
  margin-right: 50px;
}

.number {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  height: 100%;
  margin-right: 12px;
  padding-top: 4px;
}

.number span {
  font-size: 16px;
  line-height: 24px;
}

.number img {
  margin-left: 4px;
}

.labelText {
  font-size: 24px;
  line-height: 32px;
}

.subLabelText {
  margin-top: 10px;
  font-size: 20px;
  opacity: 0.7;
}

.formControl {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button {
  margin-top: 16px;
}

.radioGroup {
  margin-top: 24px;
  display: inline-flex;
  flex-flow: column wrap;
}
