.selectContainer {
  display: block;
  color: var(--color-white);
  background-color: var(--color-black);
  outline: none;
  border-bottom: 1px solid var(--color-gray);
  margin-top: 32px;
  padding: 0px 0px 8px;
  z-index: 50;
}

.selectContainerFocused {
  box-shadow: 0 2px 0 var(--color-white);

  display: block;
  color: var(--color-white);
  background-color: var(--color-black);
  outline: none;
  margin-top: 32px;
  padding: 0px 0px 8px;
  z-index: 50;
}

.placeholder {
  color: var(--color-gray);
  font-size: 30px;
}

.selectOption {
  font-size: 20px;
  margin-bottom: 4px;
  border: 1px solid var(--color-gray);
  border-radius: 4px;
  color: var(--color-white);
  background-color: rgb(26, 26, 26);
  box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 0px 1px inset;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  cursor: pointer;
  max-width: 100%;
  min-width: 75px;
  min-height: 40px;
}

.selectOption:hover {
  cursor: pointer;
  background-color: rgb(77, 77, 77);
}

.selectMenu {
  margin-top: 10px;
}

.selectInput {
  font-size: 30px;
}

.selectMenuList {
  font-size: 20px;
}

.singleVal {
  font-size: 30px;
}

.indicator {
  background-color: #fff;
}

.selectNoOptions {
  align-items: center;
  margin-top: 16px;
  font-size: 18px;
  font-family: sans-serif;
}

.focused {
  background-color: var(--color-gray);
}

@media screen and (max-width: 600px) {
  .selectContainer {
    padding: 0px 0px 5px;
  }

  .placeholder {
    font-size: 24px;
  }

  .selectOption {
    font-size: 16px;
  }

  .selectInput {
    font-size: 24px;
  }

  .selectMenuList {
    font-size: 16px;
  }

  .singleVal {
    font-size: 24px;
  }
}
