header,
main {
  background-color: #000;
}

.main-logo {
  padding-top: 18px;
  padding-left: 15px;
  width: 112px;
  height: auto;
}

.progress-bar {
  height: 4px;
  background-color: var(--color-primary);
}

main {
  color: var(--color-white);
}

/* Common Styles */

.container {
  margin-top: -76px;
  display: flex;
  flex-direction: row;
  /* width: 744px; */
  flex: 1;
  max-width: 750px;
  margin-right: 45px;
}

.number {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  height: 100%;
  margin-right: 12px;
  padding-top: 4px;
}

.number span {
  font-size: 16px;
  line-height: 24px;
}

.number img {
  margin-left: 4px;
}

.formControl {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.labelText {
  font-size: 24px;
  line-height: 32px;
}

.subLabelText {
  margin-top: 10px;
  font-size: 20px;
  opacity: 0.7;
}

input {
  all: unset;
  display: block;
  color: var(--color-white);
  background-color: var(--color-black);
  outline: none;
  border-bottom: 1px solid var(--color-gray);
  font-size: 30px;
  margin-top: 32px;
  padding: 0px 0px 8px;
}

input:focus {
  box-shadow: 0 2px 0 var(--color-white);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-gray);
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--color-gray);
}

.button {
  margin-top: 16px;
}

/* Media Queries */

@media screen and (max-width: 850px) {
  .container {
    padding: 0px 20px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 600px) {
  .number span {
    font-size: 14px;
  }

  .number img {
    width: 8px;
  }

  .labelText {
    font-size: 20px;
    line-height: 28px;
  }

  .subLabelText {
    margin-top: 8px;
    font-size: 16px;
    line-height: 24px;
  }

  input {
    font-size: 24px;
    margin-bottom: 6px;
  }

  .button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .button button {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 375px) {
  .container {
    padding: 0px 20px 0px 20px;
  }

  .formControl {
    flex-wrap: wrap;
  }

  input {
    width: 90%;
  }
}

@media screen and (max-width: 225px) {
  .container {
    padding: 0;
  }

  .formControl {
    flex-wrap: wrap;
  }

  input {
    width: 90%;
  }
}
